[submodule "src/libs/printf"]
	path = src/libs/printf
	url = https://github.com/eyalroz/printf.git
[submodule "src/libs/optimal_request"]
	path = src/libs/optimal_request
	url = https://github.com/IvanVnucec/Optimal-REQUEST
[submodule "src/libs/mpu9250"]
	path = src/libs/mpu9250
	url = https://github.com/IvanVnucec/MPU9250
[submodule "src/libs/zs040"]
	path = src/libs/zs040
	url = https://github.com/IvanVnucec/zs040
