Debug
Release
*.launch
.settings/stm32cubeide.project.prefs
.vscode/settings.json
cmake-build-debug/cmake_install.cmake
cmake-build-debug/CMakeCache.txt
cmake-build-debug/cubesat-adcs.bin
cmake-build-debug/cubesat-adcs.hex
cmake-build-debug/cubesat-adcs.map
cmake-build-debug/cubesat-adcs.out
cmake-build-debug/Makefile
cmake-build-debug/CMakeFiles/cmake.check_cache
cmake-build-debug/CMakeFiles/CMakeDirectoryInformation.cmake
cmake-build-debug/CMakeFiles/CMakeError.log
cmake-build-debug/CMakeFiles/CMakeOutput.log
cmake-build-debug/CMakeFiles/Makefile.cmake
cmake-build-debug/CMakeFiles/Makefile2
cmake-build-debug/CMakeFiles/progress.marks
cmake-build-debug/CMakeFiles/TargetDirectories.txt
cmake-build-debug/CMakeFiles/3.22.0-rc2/CMakeASMCompiler.cmake
cmake-build-debug/CMakeFiles/3.22.0-rc2/CMakeCCompiler.cmake
cmake-build-debug/CMakeFiles/3.22.0-rc2/CMakeCXXCompiler.cmake
cmake-build-debug/CMakeFiles/3.22.0-rc2/CMakeDetermineCompilerABI_C.bin
cmake-build-debug/CMakeFiles/3.22.0-rc2/CMakeDetermineCompilerABI_CXX.bin
cmake-build-debug/CMakeFiles/3.22.0-rc2/CMakeSystem.cmake
cmake-build-debug/CMakeFiles/3.22.0-rc2/CompilerIdC/CMakeCCompilerId.c
cmake-build-debug/CMakeFiles/3.22.0-rc2/CompilerIdC/CMakeCCompilerId.o
cmake-build-debug/CMakeFiles/3.22.0-rc2/CompilerIdCXX/CMakeCXXCompilerId.cpp
cmake-build-debug/CMakeFiles/3.22.0-rc2/CompilerIdCXX/CMakeCXXCompilerId.o
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/ASM.includecache
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/build.make
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/cmake_clean.cmake
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/compiler_depend.internal
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/compiler_depend.make
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/compiler_depend.ts
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/depend.internal
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/depend.make
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/DependInfo.cmake
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/flags.make
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/link.txt
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/objects1.rsp
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/progress.make
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/Core/Src/freertos.c.obj
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/Core/Src/freertos.c.obj.d
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/Core/Src/gpio.c.obj
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/Core/Src/gpio.c.obj.d
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/Core/Src/i2c.c.obj
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/Core/Src/i2c.c.obj.d
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/Core/Src/main.c.obj
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/Core/Src/main.c.obj.d
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/Core/Src/spi.c.obj
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/Core/Src/spi.c.obj.d
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/Core/Src/stm32l4xx_hal_msp.c.obj
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/Core/Src/stm32l4xx_hal_msp.c.obj.d
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/Core/Src/stm32l4xx_hal_timebase_tim.c.obj
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/Core/Src/stm32l4xx_hal_timebase_tim.c.obj.d
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/Core/Src/stm32l4xx_it.c.obj
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/Core/Src/stm32l4xx_it.c.obj.d
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/Core/Src/syscalls.c.obj
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/Core/Src/syscalls.c.obj.d
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/Core/Src/sysmem.c.obj
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/Core/Src/sysmem.c.obj.d
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/Core/Src/system_stm32l4xx.c.obj
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/Core/Src/system_stm32l4xx.c.obj.d
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/Core/Src/tim.c.obj
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/Core/Src/tim.c.obj.d
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/Core/Src/usart.c.obj
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/Core/Src/usart.c.obj.d
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/Core/Startup/startup_stm32l412kbux.s.obj
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal_cortex.c.obj
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal_cortex.c.obj.d
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal_dma_ex.c.obj
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal_dma_ex.c.obj.d
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal_dma.c.obj
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal_dma.c.obj.d
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal_exti.c.obj
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal_exti.c.obj.d
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal_flash_ex.c.obj
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal_flash_ex.c.obj.d
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal_flash_ramfunc.c.obj
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal_flash_ramfunc.c.obj.d
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal_flash.c.obj
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal_flash.c.obj.d
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal_gpio.c.obj
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal_gpio.c.obj.d
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal_i2c_ex.c.obj
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal_i2c_ex.c.obj.d
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal_i2c.c.obj
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal_i2c.c.obj.d
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal_pwr_ex.c.obj
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal_pwr_ex.c.obj.d
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal_pwr.c.obj
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal_pwr.c.obj.d
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal_rcc_ex.c.obj
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal_rcc_ex.c.obj.d
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal_rcc.c.obj
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal_rcc.c.obj.d
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal_spi_ex.c.obj
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal_spi_ex.c.obj.d
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal_spi.c.obj
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal_spi.c.obj.d
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal_tim_ex.c.obj
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal_tim_ex.c.obj.d
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal_tim.c.obj
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal_tim.c.obj.d
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal_uart_ex.c.obj
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal_uart_ex.c.obj.d
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal_uart.c.obj
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal_uart.c.obj.d
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal.c.obj
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal.c.obj.d
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/Drivers/i2c_user/i2c_user.cpp.obj
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/Drivers/i2c_user/i2c_user.cpp.obj.d
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/Drivers/mpu9250/mpu9250.cpp.obj
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/Drivers/mpu9250/mpu9250.cpp.obj.d
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/Drivers/pwm_user/pwm_user.cpp.obj
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/Drivers/pwm_user/pwm_user.cpp.obj.d
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/Drivers/uart_user/uart_user.cpp.obj
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/Drivers/uart_user/uart_user.cpp.obj.d
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/Middlewares/Third_Party/FreeRTOS/Source/croutine.c.obj
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/Middlewares/Third_Party/FreeRTOS/Source/croutine.c.obj.d
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/Middlewares/Third_Party/FreeRTOS/Source/event_groups.c.obj
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/Middlewares/Third_Party/FreeRTOS/Source/event_groups.c.obj.d
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/Middlewares/Third_Party/FreeRTOS/Source/list.c.obj
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/Middlewares/Third_Party/FreeRTOS/Source/list.c.obj.d
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/Middlewares/Third_Party/FreeRTOS/Source/queue.c.obj
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/Middlewares/Third_Party/FreeRTOS/Source/queue.c.obj.d
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/Middlewares/Third_Party/FreeRTOS/Source/stream_buffer.c.obj
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/Middlewares/Third_Party/FreeRTOS/Source/stream_buffer.c.obj.d
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/Middlewares/Third_Party/FreeRTOS/Source/tasks.c.obj
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/Middlewares/Third_Party/FreeRTOS/Source/tasks.c.obj.d
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/Middlewares/Third_Party/FreeRTOS/Source/timers.c.obj
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/Middlewares/Third_Party/FreeRTOS/Source/timers.c.obj.d
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/Middlewares/Third_Party/FreeRTOS/Source/CMSIS_RTOS_V2/cmsis_os2.c.obj
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/Middlewares/Third_Party/FreeRTOS/Source/CMSIS_RTOS_V2/cmsis_os2.c.obj.d
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/Middlewares/Third_Party/FreeRTOS/Source/portable/GCC/ARM_CM4F/port.c.obj
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/Middlewares/Third_Party/FreeRTOS/Source/portable/GCC/ARM_CM4F/port.c.obj.d
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/Middlewares/Third_Party/FreeRTOS/Source/portable/MemMang/heap_4.c.obj
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/Middlewares/Third_Party/FreeRTOS/Source/portable/MemMang/heap_4.c.obj.d
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/Middlewares/adcs/adcs_tasks.cpp.obj
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/Middlewares/adcs/adcs_tasks.cpp.obj.d
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/Middlewares/adcs/inertial_meas_unit.cpp.obj
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/Middlewares/adcs/inertial_meas_unit.cpp.obj.d
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/Middlewares/adcs/optimal_request_interface.cpp.obj
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/Middlewares/adcs/optimal_request_interface.cpp.obj.d
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/Middlewares/fault_handling/fault_handling.cpp.obj
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/Middlewares/fault_handling/fault_handling.cpp.obj.d
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/Middlewares/parser/callbacks.cpp.obj
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/Middlewares/parser/callbacks.cpp.obj.d
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/Middlewares/parser/parser.cpp.obj
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/Middlewares/parser/parser.cpp.obj.d
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/Middlewares/printf-5.1.0/src/printf.c.obj
cmake-build-debug/CMakeFiles/cubesat-adcs.out.dir/Middlewares/printf-5.1.0/src/printf.c.obj.d
cmake-build-debug/CMakeFiles/nucleo-f413zh.out.dir/build.make
cmake-build-debug/CMakeFiles/nucleo-f413zh.out.dir/cmake_clean.cmake
cmake-build-debug/CMakeFiles/nucleo-f413zh.out.dir/compiler_depend.internal
cmake-build-debug/CMakeFiles/nucleo-f413zh.out.dir/compiler_depend.make
cmake-build-debug/CMakeFiles/nucleo-f413zh.out.dir/compiler_depend.ts
cmake-build-debug/CMakeFiles/nucleo-f413zh.out.dir/depend.make
cmake-build-debug/CMakeFiles/nucleo-f413zh.out.dir/DependInfo.cmake
cmake-build-debug/CMakeFiles/nucleo-f413zh.out.dir/flags.make
cmake-build-debug/CMakeFiles/nucleo-f413zh.out.dir/link.txt
cmake-build-debug/CMakeFiles/nucleo-f413zh.out.dir/progress.make
cmake-build-debug/CMakeFiles/nucleo-f413zh.out.dir/Core/Src/freertos.c.obj.d
cmake-build-debug/CMakeFiles/nucleo-f413zh.out.dir/Core/Src/gpio.c.obj.d
cmake-build-debug/CMakeFiles/nucleo-f413zh.out.dir/Core/Src/i2c.c.obj.d
cmake-build-debug/CMakeFiles/nucleo-f413zh.out.dir/Core/Src/main.c.obj.d
cmake-build-debug/CMakeFiles/nucleo-f413zh.out.dir/Core/Src/spi.c.obj.d
cmake-build-debug/CMakeFiles/nucleo-f413zh.out.dir/Core/Src/stm32l4xx_hal_msp.c.obj.d
cmake-build-debug/CMakeFiles/nucleo-f413zh.out.dir/Core/Src/stm32l4xx_hal_timebase_tim.c.obj.d
cmake-build-debug/CMakeFiles/nucleo-f413zh.out.dir/Core/Src/stm32l4xx_it.c.obj.d
cmake-build-debug/CMakeFiles/nucleo-f413zh.out.dir/Core/Src/tim.c.obj.d
cmake-build-debug/CMakeFiles/nucleo-f413zh.out.dir/Core/Src/usart.c.obj.d
cmake-build-debug/CMakeFiles/nucleo-f413zh.out.dir/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal_i2c.c.obj.d
cmake-build-debug/CMakeFiles/nucleo-f413zh.out.dir/Drivers/STM32L4xx_HAL_Driver/Src/stm32l4xx_hal.c.obj.d
